@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    list-style: none;
}
.header {
    justify-content: center;
    margin: auto;
    background-color: #F6F6F9;
    padding-bottom: 25px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}
.header_logo_text {
    background-color: #1E96C8;
    color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.header__text {
    color: #295091;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0;
}
.header__text_2 {
    margin-right: 20px;
    color: #797979;
}
.telegram_logo {
    width: 20px;
    height: 20px;

}
.header__text_2 {
    gap: 17px;
}
.header__social {
    display: flex;
    justify-content: space-between;
    background-color: #ffffffff;
    gap: 24px;
    margin-top: 49px;
    flex-wrap: wrap;
    color: #515151;
    padding: 25px;
}
.img____logo {
    max-width: 1200px;
    width: 100%;
    border: 1px solid black;
    margin-top: 18px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.header_left_inner {
    display: flex;
    align-items: center;
    gap: 17px;
}
.burger_logo {
    display: none;
}
.virus_img {
    display: flex;
    gap: 19px;

}
.virus_img_text {
    max-width: 232px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;

}
.virus__img {
    max-width: 38px;
    width: 100%;
    height: 40px;
}
.number_1 {
    color: #E45C5D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
}
.number_2 {
    color: #13BA80;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;

}
.number_3 {
    color: #2E2E2E;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;


}
.virus_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0;
}
.virus__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0;
}
.virus___text {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0;
}
.virus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #F6F6F9   ;
    padding: 30px 35px;
    border-radius: 5px;
}
.virus_img_2{
    display: flex;
    flex-direction: column;
}
.main{
    padding-top: 45px;

}
.line{
    width: 2px;
    height: 74px;
    background-color: #EB5569;
}
.line_1{
    width: 2px;
    height: 49px;
    background-color: #F4CCD1;
}
.line_2{
    width: 2px;
    height: 49px;
    background-color: #F4CCD1;
}
.middle{
    max-width: 100%;
    width: 100%;
}
.middle_img{
width: 100%;
    height: 190px;
    border-radius: 5px;
    margin-top: 18px;
}
.middle_text_1{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-top: 11px;
}
.middle_text_2{
    color: #6B6D97;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 11px;

}
.main_middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.main_finish{
    background-color: #EFBA542E;
    padding: 28px 34px;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    flex-wrap: wrap;
    gap: 20px;
}
.finish_text{
  display: flex;
    align-items: center;
    gap: 17px;
}
.text_finish{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.finish_btn{
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    border: none;
}
.easy__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 38px;
}
.easy_img{
    border-radius: 5px;
    flex-wrap: wrap;
}
.finish_btn{
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    border: none;
}
.easy_text_1{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    display: flex;
}
.easy_text_2{
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #434343;
    margin-top: 8px;

}
.medium_1{
    max-width: 346px;
    width: 100%;
    height: 4px;
    background-color: #E4E4E4;
    margin-top: 14px;
}
.easy_text_date{
    display: flex;
    color: #7688A4;
    margin-top: 11px;

}
.medium_text{
    max-width: 386px;
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F9;
    padding: 18px 20px;
    margin-top: 46px;
    margin-left: 31px;
}
.main_easy{
    max-width: 789px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}
.easy___text{
    display: flex;
    gap: 19px;
}
.medium__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #202020;
    margin-top: 18px;
}
.medium___text{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-top: 6px;
}
.medium_number{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7688A4;
}

.easy_bottom{
    display: flex;
    color: #FFFFFF;
    background-color: #295093;
    padding: 10px 31px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 332px;
    margin-top: 28px;
}
.medium_img{
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 31px;
}
.medium{
    display: flex;
}
.text__easy{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #295093;
}
.text_p{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #333333;
    margin-top: 10px;
}
.div___text{
    display: flex;
    align-items: center;
    background: #F6F6F9;
}
.div___img{
    display: flex;
    align-items: center;
    gap: 19px;
    margin-left: 63px;
}
.div__text{
    display: flex;
}
.footer{
    background: #295093;
    margin-top: 38px;
    padding: 18px 0 13px 0;
}
.footer_h2{
    background: #133C82;
    color: #FFFFFF;
    padding: 11px 12px 6px 9px;
    max-width: 194px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    border-radius: 5px;
}
.text_footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}
.footer_btn{
    padding: 9px 11px 9px 9px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #295093;
    border: none;
}
.footer__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__div{
    display: flex;
    gap: 17px;
    align-items: center;
}
.footer_hr{
    max-width: 1200px;
    width: 100%;
    height: 3px;
    margin-top: 26px;
    background: #133C82;
    border: none;
}
.div_footer_p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer_li{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 12px;
}
.footer__div_p{
    display: flex;
    gap: 113px;
    margin-top: 12px;
}
.footer_ul_li{
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 1015px) {
    .medium__1{
        display: none;
    }
    .div___text{
        display: flex;
    }
    .div__text{
        display: block;
    }
    .footer_hr{
        max-width: 1200px;
        width: 100%;
        height: 3px;
        margin-top: 26px;
        background: #133C82;
        border: none;
    }
    .div_footer_p{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
    .footer_li{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        margin-top: 12px;
    }
    .footer__div_p{
        display: flex;
        gap: 113px;
        align-items: center;
    }
    .footer_ul_li{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
@media screen and (max-width: 780px) {
    .easy_img{
        display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .easy_text_1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .easy_text_2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .div___text{
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .header__text {
        display: none;
    }

    .burger_logo {
        display: block;
    }

    .header_right {
        display: flex;
        gap: 10px;
    }
}
@media screen and (max-width: 1240px) {
    .main_middle{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px) {
    .main_middle{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 500px){
    .virus{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .img__logo {
        width: 150px;
    }

    .header-left {
        padding-top: 10px;
    }

    .header__social {
        margin-top: 10px;
    }
}
